

<ng-container *ngIf="!viewImage">
  <button mat-raised-button color="accent" (click)="goBack()">Back</button>
  <button mat-raised-button color="primary" (click)="update()">Update</button>
  <mat-grid-list [cols]="2" rowHeight="50">
    <mat-grid-tile>Img width: {{compressionWidth}}</mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="minusCompression()">-</button>
      <button mat-button (click)="plussCompression()">+</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <input style="display: none" type="file" accept="image/*" (change)="onImageChange($event)" #fileInput>

      <button mat-raised-button (click)="fileInput.click()">
        Add
      </button>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-list cdkScrollable style="overflow-y: scroll; height: 50vh; !important; -moz-box-sizing: border-box;
    box-sizing: border-box;">
    <mat-list-item *ngFor="let thumb of images; let i = index;">
        <span><button mat-button (click)="showImage(thumb)">
          {{thumb.name}} <img src="{{thumb.file}}" width="24" height="{{24*thumb.height/thumb.width}}"/>
        </button>
          size: {{thumb.size | number : '.1-2'}} MB
        </span>





      <mat-divider></mat-divider>


    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

</ng-container>
