label{
  background-color: crimson;
  padding: 0.5rem;
  margin: 0.1rem;
  font-weight: bold;
  min-width: 3rem;
  text-align: center;
}
.list{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  


}

h3,h4{
  padding: 0.5rem;
  margin: 0.1rem;
}

button{
  margin: 0.1rem;
  min-width:4rem;
  padding:0.5rem;
  font-weight: bold;
  background-color: lightsteelblue;
}
