.list{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

}
button{
  width: 10rem;
  margin-right: 1rem;
  background-color: lightsteelblue;
  border-radius: 0.5rem;
}


