/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
button{
  -webkit-appearance: none;
}
{
  font-family:"Times New Roman",Times,serif;
}

body{
  background-color: #485460;
  color: #d2dae2;
}


::-webkit-scrollbar {
  width: 1px;
  display: none;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  display: none;
}


::-webkit-scrollbar-thumb {
  background: #888;
  display: none;
}


::-webkit-scrollbar:hover {
  background: #555;
  display: block;
}
*/

html, body {
  min-height: 100vh;
  height: auto;

}
